body {
    background-color: darkgrey;
}

#addBtn {
    position: fixed;
    bottom: 0px;
    background-color: #104E8B;
}

#header {
    background-color: black
}

#header button {
    background-color: #104E8B;
    color: white;
}

#cardPlace .row {
    margin-top: 30px;
}