body {
    background-color: #104E8B;
}

.ava-btn {
    background-color: #104E8B !important;
    color: white !important;
}

nav {
    background: black;
    background-color: black;
}

header i {
    margin-top: 9px;
}

#addBtn {
    position: fixed;
    bottom: 0px;
    color: white;
    background-color: black;
}

#cardPlace {
    margin-top: 100px;
}

#cardPlace .row {
    margin-top: 30px;
}

#cardPlace img {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: auto;
}

#cardPlace span {
    color: #104E8B;
}

#cardPlace button {
    background-color: DarkGoldenRod!important;
}