body {
    background-color: #104E8B;
}

.ava-btn {
    background-color: #104E8B !important;
    color: white !important;
}

.ava-btn-red {
    background-color: #104E8B !important;
    color: darkred!important;
}

.ava-btn-green {
    background-color: #104E8B !important;
    color: green!important;
}

nav {
    background: black;
    background-color: black;
}

header i {
    margin-top: 9px;
}

#addBtn {
    position: fixed;
    bottom: 0px;
    color: white;
    background-color: black;
}

#cardPlace {
    margin-top: 30px;
}

#cardPlace img {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: auto;
}

#cardPlace span {
    color: #104E8B;
}

#cardPlace .golden {
    background-color: DarkGoldenRod!important;
}

#cardPlace .disGolden {
    background-color: dimgray!important;
}

#cardPlace .green {
    background-color: darkgreen!important;
}

#cardPlace .red {
    background-color: crimson!important;
}

#cardPlace .gray {
    background-color: cadetblue!important;
}


.container {
    margin-top: 100px;
}

/* Sobrescrevendo bootstrap */
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #104E8B!important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem black
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: black;
}

.modal-header {
    background-color: #104E8B;
    color: white;
}

.modal-footer {
    background-color: #104E8B;
    color: white;
}

#favCheck {
    display: none
}

#fav{
    width: 13%;
}